#include "resource_ids.h"

IDR_ASSETS_BIN    RCDATA "assets/assets.bin"
IDR_BLOCK_ATLAS   RCDATA "assets/block_atlas.png"
IDR_ATLAS_UV      RCDATA "assets/block_atlas.json"
IDR_BLOCK_STATES  RCDATA "assets/block_states.json"
IDR_FONT_ASCII    RCDATA "assets/ascii.png"
IDR_GUI_LOGO      RCDATA "assets/gui_logo.png"
IDR_GUI_BUTTON    RCDATA "assets/gui_button.png"
IDR_GUI_BUTTON_HL RCDATA "assets/gui_button_hl.png"
IDR_GUI_DIRT      RCDATA "assets/gui_dirt.png"
IDR_GUI_EDITION   RCDATA "assets/gui_edition.png"
IDR_SPLASHES      RCDATA "assets/splashes.txt"
IDR_GUI_LANG      RCDATA "assets/gui_lang.png"
IDR_GUI_ACCESS    RCDATA "assets/gui_access.png"
